.profile__edit-button {
    min-width: 24px;
    margin: 16px 0px 17px 18px;
    background-color: black;
    border: 1px solid white;
    background-image: url(../../../images/Vector-edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 460px) {
    .profile__edit-button {
        min-width: 18px;
        margin: 9px 0px 14px 10px;
    }
}