.header {
    max-width: 880px;
    padding-top: 45px;
    margin: 0 auto 38px auto;
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    opacity: 0.7;
}

@media screen and (max-width: 920px) {
    .header {
        width: 100%;
        padding-top: 28px;
    }
}

@media screen and (max-width: 400px) {
    .header {
        margin: 0 auto 45px auto;
    }
}